<div class="mainpage">
    <table class="table table-hover">
        <thead class="list-header">
            <tr>
                <th class="list-header-column" scope="col">عملیات</th>
                <th class="list-header-column" scope="col">وضعیت درخواست</th>
                <th class="list-header-column" scope="col">امتیاز</th>
                <th class="list-header-column" scope="col">نوع سرویس</th>
                <th class="list-header-column" scope="col">متخصص</th>
                <th class="list-header-column" scope="col">تاریخ</th>
            </tr>
        </thead>
        <tbody>
            <tr class="list-entry">
                <td>
                    <button role="button" type="button" class="btn dropdown" data-toggle="dropdown">
                        ...
                    </button>
                    <div class="dropdown-menu complete-rtl">
                        <a class="dropdown-item" href="#">ثبت نظر</a>
                        <a class="dropdown-item" href="#">پیام به متخصص</a>
                    </div>
                </td>
                <td>در انتظار تایید</td>
                <td>-</td>
                <td>قالی شویی</td>
                <td>آقای متخصص</td>
                <td>
                    ۴ خرداد ۱۴۰۱
                </td>
            </tr>
            <tr class="list-entry">
                <td>
                    <button role="button" type="button" class="btn dropdown" data-toggle="dropdown">
                        ...
                    </button>
                    <div class="dropdown-menu complete-rtl">
                        <a class="dropdown-item" href="#">ثبت نظر</a>
                        <a class="dropdown-item" href="#">پیام به متخصص</a>
                    </div>
                </td>
                <td>به اتمام رسیده</td>
                <td>4.5/5</td>
                <td>قالی شویی</td>
                <td>آقای متخصص</td>
                <td>
                    ۴ خرداد ۱۴۰۱
                </td>
            </tr>
            <tr class="list-entry">
                <td>
                    <button role="button" type="button" class="btn dropdown" data-toggle="dropdown">
                        ...
                    </button>
                    <div class="dropdown-menu complete-rtl">
                        <a class="dropdown-item" href="#">ثبت نظر</a>
                        <a class="dropdown-item" href="#">پیام به متخصص</a>
                    </div>
                </td>
                <td>به اتمام رسیده</td>
                <td>4.5/5</td>
                <td>قالی شویی</td>
                <td>آقای متخصص</td>
                <td>
                    ۴ خرداد ۱۴۰۱
                </td>
            </tr>
        </tbody>
    </table>
</div>