{% load static %}

<div class="sidebar no-link">
    <div class="container py-3 d-flex justify-content-between align-items-center">
        <div class="profile-image">
            <img src="{% static 'icons/account.svg' %}" />
        </div>
        <div class="">{{ user.name }}</div>
        <button type="button" class="btn btn-outline-success status" style="visibility: hidden;">آنلاین</button>
    </div>
    <div class="line-border"></div>
    <div class="container py-3 d-flex align-items-center sidebar-item">
        <span class="material-symbols-outlined">
            view_timeline
        </span>
        <div class="px-4"><a href="/users">درخواست های من</a></div>
    </div>
    <div class="container py-3 d-flex align-items-center sidebar-item">
        <span class="material-symbols-outlined">
            edit
        </span>
        <div class="px-4"><a href="/services/request">درخواست جدید</a></div>
    </div>
    <div class="container py-3 d-flex align-items-center sidebar-item">
        <span class="material-symbols-outlined">
            person
        </span>
        <div class="px-4">صفحه پروفایل</div>
    </div>
    <div class="container py-3 d-flex align-items-center sidebar-item">
        <span class="material-symbols-outlined">
            mail
        </span>
        <div class="px-4"><a href="/messaging/chatroom/">جعبه پیام‌ها </a><span class="badge badge-danger">9</span></div>
    </div>
    <div class="line-border"></div>
    <div class="container py-3 d-flex align-items-center sidebar-item">
        <span class="material-symbols-outlined">
            logout
        </span>
        <div class="px-4"><a href="{% url 'logout' %}">خروج از حساب</a></div>
    </div>
    <div class="container py-3 d-flex align-items-center sidebar-item">
        <span class="material-symbols-outlined">
            help
        </span>
        <div class="px-4">پشتیبانی</div>
    </div>
</div>