{% load static %}

<div class="sidebar no-link">
    <div class="container py-3 d-flex justify-content-between align-items-center">
        <div class="avatar">
            <img src ="{{ avatar.url }}", alt="Avatar", width="100", onerror=this.src="{% static 'icons/account.svg' %}">
        </div>
        <div class="">{{ user.name }}</div>
    </div>
    <div class="line-border"></div>
    <div class="container py-3 d-flex align-items-center sidebar-item">
        <span class="material-symbols-outlined">
            view_timeline
        </span>
        <div class="px-4"><a href="/users">درخواست های من</a></div>
    </div>
    <div class="container py-3 d-flex align-items-center sidebar-item">
        <span class="material-symbols-outlined">
            edit
        </span>
        <div class="px-4"><a href="/services/request">درخواست جدید</a></div>
    </div>
    <div class="container py-3 d-flex align-items-center sidebar-item">
        <span class="material-symbols-outlined">
            person
        </span>
        <div class="px-4"><a href="/users/profile/customer">صفحه پروفایل</a></div>
    </div>
    <div class="container py-3 d-flex align-items-center sidebar-item">
        <span class="material-symbols-outlined">
            mail
        </span>
        <div class="px-4"><a href="/messaging/chatroom/">جعبه پیام‌ها </a></div>
    </div>
    <div class="line-border"></div>
    <div class="container py-3 d-flex align-items-center sidebar-item">
        <span class="material-symbols-outlined">
            logout
        </span>
        <div class="px-4"><a href="{% url 'logout' %}">خروج از حساب</a></div>
    </div>
</div>