{% extends "includes/base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}

<script src="{% static 'js/chatbox7.js' %}"></script>

<!-- This the chatroom page containing all chats and the chatbox for the selected chat. -->

<div class="main-box">
    <script>
        set_is_for_chat({% if is_for_chat %}true{% else %} false{% endif %})
    </script>
    <!-- Navigation -->
    <div class="navigation complete-rtl">
        {% if user_type == "customer" %}
        خانه / صفحه مشتری / {% if is_for_chat %}جعبه پیام‌ها{% else %}جعبه تیکت‌ها{% endif %}
        {% elif user_type == "expert"%}
        خانه / صفحه متخصص / {% if is_for_chat %}جعبه پیام‌ها{% else %}جعبه تیکت‌ها{% endif %}
        {% else %}
            خانه / صفحه مدیر فنی/ {% if is_for_chat %}جعبه پیام‌ها{% else %}جعبه تیکت‌ها{% endif %}
        {% endif %}

    </div>
    <div class="d-flex complete-rtl py-4 justify-content-between align-items-start">
        {% include 'includes/sidebar.html' with avatar=user.avatar %}

        {% include 'messaging/chatbox.html' %}
    </div>
</div>

{% endblock %}