{% load crispy_forms_tags %}

{% load static %}

<!-- chatbox CSS -->
<link rel="stylesheet" href="{% static 'css/chatbox.css' %}" type="text/css">

<div id="container">
	<aside>
		<header>
			<h2 style="text-align:center; color:#E93B77">لیست پیام‌ها</h2>
		</header>
		<ul>
			{% for channel in channels %}
			<li onclick="set_selected_channel('{{ channel.id }}', '{{ channel.contact_name }}', '{{ channel.contact.avatar.url }}', '{{ channel.type }}')">
				<div class="container py-3 d-flex align-items-center">
					{% if channel.type == "Chat" %}
						<img src ="{{ channel.contact.avatar.url }}", alt="Avatar", width="50", onerror=this.src="{% static 'icons/account.svg' %}">
					{% endif %}
					<h2>{{ channel.contact_name }}</h2>
				</div>
			</li>
			{% endfor %}
		</ul>
	</aside>
	<main>
		<header>
			<div class="d-flex complete-rtl justify-content-between align-items-start">
				<img id="avatar" src ="{{ channel.contact.avatar.url }}", width="70">
				<h2 id="chat-header" style="align-self:center"></h2>
			</div>
		</header>
		<ul id="chat">
			<!-- Empty. Should be loaded with request from js file.  -->
		</ul>
		<footer>
			{% csrf_token %}
			<input id="msg-text" type="text" name="text" maxlength="500" class="textinput textInput form-control"
				placeholder="متن پیام">
			<button class="btn btn-primary" onclick="send_message()">ارسال</button>
		</footer>
	</main>
</div>