{% load static %}
<script src="{% static 'js/report/export_function.js' %}"></script>

<table class="table table-hover" id="category-table">
    {% include "report/export_input.html" with rows=category_dict table_id="category-table" %}
    <thead class="list-header">
        <tr>
            <th class="list-header-column" scope="col">عملیات</th>
            <th class="list-header-column" scope="col">نام دسته بندی</th>
            <th class="list-header-column" scope="col">دسته بندی مادر</th>
            <th class="list-header-column" scope="col">توضیحات</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr class="list-entry">
            <td>
                <button role="button" type="button" class="btn dropdown" data-toggle="dropdown">
                    ...
                </button>
                <div class="dropdown-menu complete-rtl">
                    <a class="dropdown-item" href="category/{{ category.id }}">ویرایش</a>
                    <a class="dropdown-item">حذف</a>
                </div>
            </td>

            <td>{{ category.name }}</td>
            <td>
                {% if category.parent.name == None %}
                ندارد
                {% else %}
                {{ category.parent.name }}
                {% endif %}
            </td>
            <td>{{ category.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>