{% extends "includes/base.html" %}

{% block content %}

    {% load crispy_forms_tags %}

    <div class="main-box">
        <!-- Navigation -->
        <div class="navigation complete-rtl">
            خانه / صفحه مدیر فنی / دسته‌بندی‌ها
        </div>
        <div class="d-flex complete-rtl py-4 justify-content-between align-items-start">
            {% include 'users/it_manager/sidebar.html' %}
            {% include 'services/category-form.html' %}
        </div>

    </div>

{% endblock %}
