{% load static %}
<script src="{% static 'js/report/export_function.js' %}"></script>
{% load status_classnames %}
<table class="table table-hover" id="requests-table">
    {% include "report/export_input.html" with rows=requests_dict table_id="requests-table" %}
    <thead class="list-header">
        <tr>
            <th class="list-header-column" scope="col">عملیات</th>
            <th class="list-header-column" scope="col">وضعیت درخواست</th>
            <th class="list-header-column" scope="col">نوع سرویس</th>
            <th class="list-header-column" scope="col">مشتری</th>
            <th class="list-header-column" scope="col">متخصص</th>
            <th class="list-header-column" scope="col">تاریخ</th>
        </tr>
    </thead>
    <tbody>
        {% for request in service_requests %}
        <tr class="list-entry">
            <td>
                <button role="button" type="button" class="btn dropdown" data-toggle="dropdown">
                    ...
                </button>
                <div class="dropdown-menu complete-rtl">
                    <a class="dropdown-item" href="/services/request/delete/{{ request.id }}">حذف</a>
                    {% if request.status == "FEEDBACK_RECEIVED" %}
                    <a class="dropdown-item" href="/feedback/get/{{ request.id }}">مشاهده بازخورد</a>
                    {% endif %}
                </div>
            </td>
            <td>
                <button type="button" class="btn btn-outline-{{ request.status|get_css_class }}">
                    {{request.get_status_display}}
                </button>
            </td>
            <td>{{ request.service }}</td>
            <td>{{ request.customer.name }}</td>
            <td>{{ request.expert.name }}</td>

            <td id="date-item-{{ request.id }}">
                <!-- {{ request.created_at|date:"Y M d" }} -->
            </td>
            <script>
                var element = document.getElementById("date-item-{{ request.id }}");
                element.innerText = new Intl.DateTimeFormat('fa-IR', {
                    day: "numeric",
                    month: "long",
                    year: "numeric",
                }).format(new Date("{{ request.created_at|date:'Y M d' }}"));
            </script>
        </tr>
        {% endfor %}
    </tbody>
</table>