{% extends "includes/base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!-- This is the main page of Expert/Customer -->

<div class="main-box">
    <!-- Navigation -->
    <div class="navigation complete-rtl">
        خانه / متخصصان
    </div>
    {% if user_type == "customer" %}
    <div class="d-flex complete-rtl py-4 justify-content-between align-items-start">
        {% include 'users/customer/sidebar.html' %}
        {% include 'services/experts-list-table.html' %}
    </div>
    {% else %}
    <div class="d-flex complete-rtl py-4 justify-content-between align-items-start">
        {% include 'users/expert/sidebar.html' %}
        {% include 'services/experts-list-table.html' %}
    </div>
    {% endif %}
</div>

{% endblock %}