{% extends "includes/base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!-- This is the main page of Expert/Customer -->

<div class="main-box">
    <!-- Navigation -->
    <div class="navigation complete-rtl">
        خانه / متخصصان
    </div>



    <div class="d-flex complete-rtl py-4 justify-content-between align-items-start">
        {% if user_type == "customer" %}

        {% include 'users/customer/sidebar.html' with avatar=user.avatar %}
        {% include 'services/experts-list-table.html' %}

        {% else %}

        {% include 'users/expert/sidebar.html' with avatar=user.avatar %}
        {% include 'services/experts-list-table.html' %}

        {% endif %}
    </div>
</div>

{% endblock %}