<div class="mainpage">
    <table class="table table-hover">
        <thead class="list-header">
            <tr>
                <th class="list-header-column" scope="col">عملیات</th>
                <th class="list-header-column" scope="col">وضعیت</th>
                <th class="list-header-column" scope="col">میانگین امتیاز</th>
                <th class="list-header-column" scope="col">تخصص</th>
                <th class="list-header-column" scope="col">متخصص</th>
                <th class="list-header-column" scope="col">شناسه</th>
            </tr>
        </thead>
        <tbody>
            {% for expert in experts %}
            <tr class="list-entry">
                <td>
                    <button role="button" type="button" class="btn dropdown" data-toggle="dropdown">
                        ...
                    </button>
                    <div class="dropdown-menu complete-rtl">
                        {% if expert.role.status %}
                        <a class="dropdown-item" href="/services/request/{{ expert.id }}">درخواست سرویس</a>
                        {% endif %}
                        <a class="dropdown-item" href="#">جزئیات</a>
                    </div>
                </td>
                <td>
                    {% if expert.role.status %}
                    <button type="button" class="btn btn-outline-success status-entry">آنلاین</button>
                    {% else %}
                    <button type="button" class="btn btn-outline-danger status-entry">آفلاین</button>
                    {% endif %}
                </td>
                <td>3/5</td>
                <td>{{ expert.role.expertise }}</td>
                <td>{{ expert.name }}</td>
                <td>
                    #{{ expert.id }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>