<div class="mainpage">
    <table class="table table-hover">
        <thead class="list-header">
            <tr>
                <th class="list-header-column" scope="col">عملیات</th>
                <th class="list-header-column" scope="col">وضعیت</th>
                <th class="list-header-column" scope="col">میانگین امتیاز</th>
                <th class="list-header-column" scope="col">تخصص</th>
                <th class="list-header-column" scope="col">متخصص</th>
                <th class="list-header-column" scope="col">شناسه</th>
            </tr>
        </thead>
        <tbody>
            <tr class="list-entry">
                <td>
                    <button role="button" type="button" class="btn dropdown" data-toggle="dropdown">
                        ...
                    </button>
                    <div class="dropdown-menu complete-rtl">
                        <a class="dropdown-item" href="/services/request/7">درخواست سرویس</a>
                        <a class="dropdown-item" href="#">پیام به متخصص</a>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-outline-success status-entry">آنلاین</button>
                </td>
                <td>3/5</td>
                <td>تعمیر کولر</td>
                <td>آقای متخصص</td>
                <td>
                    #1234
                </td>
            </tr>
            <tr class=" list-entry">
                <td>
                    <button role="button" type="button" class="btn dropdown" data-toggle="dropdown">
                        ...
                    </button>
                    <div class="dropdown-menu complete-rtl">
                        <a class="dropdown-item" href="/services/request/7">درخواست سرویس</a>
                        <a class="dropdown-item" href="#">پیام به متخصص</a>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-outline-danger status-entry">آفلاین</button>
                </td>
                <td>4.5/5</td>
                <td>قالی شویی</td>
                <td>آقای متخصص</td>
                <td>
                    #4213
                </td>
            </tr>
        </tbody>
    </table>
</div>