<div id="card_container" class="service-card mt-5 p-4 w-50">
    {% if expert.role.status %}
        <button role="button" type="button" class="btn dropdown material-symbols-outlined service-info-icon"
                data-toggle="dropdown">
            more
        </button>
        <div class="dropdown-menu complete-rtl">
            <a class="dropdown-item" href="/services/request/{{ expert.id }}">ویرایش</a>
            <a class="dropdown-item" href="#">حذف</a>
        </div>
    {% else %}
        <span class="material-symbols-outlined service-info-icon">
        more
        </span>
    {% endif %}

    <div id="service_info_title" class="service-card-title mb-3">
        تعمیر سینک ظرف شویی
    </div>
    <div id="service_info">
        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
        روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و ....
    </div>
</div>