<!-- FOOTER -->
<footer class="w-100 py-4 flex-shrink-0 bg-dark custom-link">
    <div class="container py-4" style="color: white;">
        <div class="row gy-4 gx-5 complete-rtl w-100 d-flex justify-content-between">
            <div class="col-lg-2 col-md-6">
                <h5 class="text-white mb-3" style="font-weight: bold;">درباره ما</h5>
                <ul class="list-unstyled px-0">
                    <li><a href="#">تماس با ما</a></li>
                    <li><a href="#">بلاگ</a></li>
                    <li><a href="#">موقعیت‌های شغلی</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6">
                <h5 class="text-white mb-3" style="font-weight: bold;">پشتیبانی</h5>
                <ul class="list-unstyled px-0">
                    {% if user_type == "customer" or user_type == "expert" %}
                    <li><a href="/messaging/ticket/create/">ارسال تیکت</a></li>
                    {% endif %}
                    <li><a href="/messaging/ticket/show-all/">مشاهده همه تیکت‌ها</a></li>
                    <li><a href="#">راهنمایی</a></li>
                    <li><a href="#">قوانین</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6">
                <h5 class="text-white mb-3" style="font-weight: bold;">بیشتر</h5>
                <ul class="list-unstyled px-0">
                    <li>
                        {% if request.user.is_authenticated %}
                        <a class="" href="/services/experts/list">متخصصین</a>
                        {% else %}
                        <a class="" href="/">متخصصین</a>
                        {% endif %}
                    </li>
                    <li><a href="/admin">مدیریت سامانه</a></li>
                    <li>
                        {% if request.user.is_authenticated %}
                        <a class="" href="/services/list">خدمات</a>
                        {% else %}
                        <a class="" href="/">خدمات</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6">
                <h5 class="h5 text-white" style="font-weight: bold;">سامانه خدمات در منزل</h5>
                <p class="text-muted">این سامانه برای ارائه خدمات در منزل توسط متخصصین مجرب،
                    به شکل آنلاین طراحی شده است.</p>
            </div>
        </div>
    </div>
</footer>