{% load static %}

<div class="sidebar no-link">
    <div class="container py-3 d-flex justify-content-between align-items-center">
        <div class="profile-image">
            <img src="{% static 'icons/account.svg' %}" />
        </div>
        <div class="">{{ user.name }}</div>
        <button type="button" class="btn btn-outline-success status" style="visibility: hidden;">فعال</button>
    </div>
    <div class="line-border"></div>
    <div class="container py-3 d-flex align-items-center sidebar-item">
        <span class="material-symbols-outlined">
            account_circle
        </span>
        <div class="px-4"><a href="/users/list">کاربران</a></div>
    </div>
    <div class="container py-3 d-flex align-items-center sidebar-item">
        <span class="material-symbols-outlined">
            article
        </span>
        <div class="px-4"><a href="/services/list">خدمات</a></div>
    </div>
    <div class="container py-3 d-flex align-items-center sidebar-item">
        <span class="material-symbols-outlined">
            table_rows
        </span>
        <div class="px-4"><a href="/services/categories">دسته‌بندی‌ها</a></div>
    </div>
    <div class="container py-3 d-flex align-items-center sidebar-item">
        <span class="material-symbols-outlined">
            shopping_cart
        </span>
        <div class="px-4"><a href="/users/">درخواست‌ها</a></div>
    </div>
    <div class="container py-3 d-flex align-items-center sidebar-item">
        <span class="material-symbols-outlined">
            rule
        </span>
        <div class="px-4"><a href="/feedback/metrics">معیارهای ارزیابی</a></div>
    </div>
    <div class="line-border"></div>
    <div class="container py-3 d-flex align-items-center sidebar-item">
        <span class="material-symbols-outlined">
            perm_phone_msg
        </span>
        <div class="px-4"><a href="/messaging/ticket/show-all/">تیکت‌های پشتیبانی</a></div>
    </div>
    <div class="container py-3 d-flex align-items-center sidebar-item">
        <span class="material-symbols-outlined">
            mail
        </span>
        <div class="px-4">پیام‌ها<span class="badge badge-danger">2</span></div>
    </div>
    <div class="container py-3 d-flex align-items-center sidebar-item">
        <span class="material-symbols-outlined">
            logout
        </span>
        <div class="px-4 no-link"><a href="{% url 'logout' %}">خروج از حساب</a></div>
    </div>
</div>
