{% extends "includes/base.html" %}

{% block content %}
<div class="main-box">
    {% if user_type == "customer" %}
    <!-- Navigation -->
    <div class="navigation complete-rtl">
        خانه / صفحه مشتری / پروفایل
    </div>
    <div class="d-flex complete-rtl py-4 justify-content-between align-items-start">
        {% include 'users/customer/sidebar.html' with avatar=user.avatar %}
        {% include "users/profile-form.html" %}
    </div>
    {% elif user_type == "expert" %}
    <!-- Navigation -->
    <div class="navigation complete-rtl">
        خانه / صفحه متخصص / پروفایل
    </div>
    <div class="d-flex complete-rtl py-4 justify-content-between align-items-start">
        {% include 'users/expert/sidebar.html' with avatar=user.avatar %}
        {% include "users/profile-form.html" %}
    </div>
    {% elif user_type == "it_manager" %}
        <!-- Navigation -->
        <div class="navigation complete-rtl">
            خانه / صفحه مدیر فنی / پروفایل
        </div>
        <div class="d-flex complete-rtl py-4 justify-content-between align-items-start">
            {% include 'users/it_manager/sidebar.html' with avatar=user.avatar %}
            {% include "users/profile-form.html" %}
        </div>
    {% endif %}
</div>

{% endblock %}