{% extends "includes/base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="main-box">
    <!-- Navigation -->
    <div class="navigation complete-rtl">
        خانه / صفحه مشتری / ثبت نظر
    </div>
    <div class="d-flex complete-rtl py-4 justify-content-between align-items-start">
        {% if request.user.get_user_type_str == "customer" %}
        {% include 'users/customer/sidebar.html' with avatar=user.avatar %}
        {% elif request.user.get_user_type_str == "expert" %}
        {% include 'users/expert/sidebar.html' with avatar=user.avatar %}
        {% else %}
        {% include 'users/it_manager/sidebar.html' with avatar=user.avatar %}
        {% endif %}
        {% include 'feedback/feedback-form.html' %}
    </div>
</div>

{% endblock %}